@tailwind base;
@tailwind components;
@tailwind utilities;

@import "button.scss";

@layer base {
  @font-face {
    font-family: "acorn";
    src: url("/assets/fonts/Acorn-Regular.otf") format("otf");
    font-display: auto;
    font-style: normal;
  }
  @font-face {
    font-family: "inter";
    src: url("/assets/fonts/Inter-Regular.ttf") format("ttf");
    font-display: auto;
    font-style: normal;
  }
}

* {
  box-sizing: border-box;
}

html {
  background-color: #fafafa;
  @apply font-inter scroll-smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

.emphasis {
  @apply text-primary font-bold font-primary;
}
